# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages that Data Scientists use</li>
    <li>List common libraries that Data Scientists use</li>
    <li>Create a table with some development environment open source tools used in data science</li>
    <li>Evaluate some arithmetic expressions</li>
<ul>

## Author:
Calvin Maposse

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Scikit-learn</li>
    <li>Tensorflow</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>IBM Watson Studio</td>
    </tr>
    <tr>
        <td>R Studio</td>
    </tr>
</table>

###  Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335