# My Jupyter Noteboook on IBM Watson studio

<b>Calvin Maposse</b> <br>
Data Scientist

<i>I am interested in data science because I am very impressed and passionate about what is possible with machine learning and would love to play a part in my own way.</i>

### The code below must print all the even numbers below 20

In [2]:
for i in range (2, 20, 2):
    print (i)

2
4
6
8
10
12
14
16
18

<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
 </ul>
 <ol>
    <li>Data cleaning and preparation</li>
    <li>Exploratory analysis</li>
    <li>Predictive ML model training</li>
    <li>ML model testing</li>
 </ol>
 <table>
    <tr>
        <th>User id</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>001</td>
        <td>Joe Goldberg</td>
        <td>Obssessive lover</td>
    </tr>
    <tr>
        <td>002</td>
        <td>James St. Patrick</td>
        <td>Hardcore drug dealer</td>
    </tr>
    <tr>
        <td>003</td>
        <td>Thanos</td>
        <td>Best villain ever</td>
    </tr>
 </table>